<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243837650911-9au98eoco84n6ur1q2c4s9a7d3fco5gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243837650911-9au98eoco84n6ur1q2c4s9a7d3fco5gv</string>
	<key>API_KEY</key>
	<string>AIzaSyDJIXzcgD_nfclLTanML3ht1-29LEegCWY</string>
	<key>GCM_SENDER_ID</key>
	<string>243837650911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.upriser.FlutterPlayground</string>
	<key>PROJECT_ID</key>
	<string>sandbox-d8c03</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-d8c03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243837650911:ios:0b780a8c6aa55b5e4a666a</string>
</dict>
</plist>